QMainWindow
{
    background-color: #2d2d2d;
}

QLabel
{
    background-color: transparent;
    color: white;
}

QMenuBar::item
{
    color: white;
}

QRadioButton
{
    background-color: transparent;
    color: white;
    font: bold;
}

QRadioButton::indicator::unchecked
{
    background-color: #282828;
    border: 1px solid white;
    border-radius: 6px;
}

QRadioButton::indicator:unchecked:hover
{
    border: 2px solid white;
}

QRadioButton::indicator::checked
{ 
    background-color: white;
    border: 2px solid #555555;
    border-radius: 6px;
}

QRadioButton::indicator::checked:hover
{ 
    border: 2px solid #282828;
}

QGroupBox
{
    font: bold;
    border-radius: 6px;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    left: 10px;
    padding: 0px 5px 0px 0px;
    color: white;
}

QLineEdit
{
    border-radius: 6px;
    background-color: #2d2d2d;
    color: white;
}

QTextEdit
{
    border-radius: 6px;
    background-color: #2d2d2d;
    color: white;
}

QAbstractItemView
{
    background-color: rgba(50, 50, 50, 150);
    color: white;
}

QTreeView
{
    border: 2px solid rgba(30, 30, 30, 150);
    border-radius: 6px; 
}

QHeaderView
{
    border-radius: 6px;
}

QHeaderView::section {
    background-color: rgba(30, 30, 30, 150);
    color: white;
    font: bold;
    padding-left: 4px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-right: 2px solid rgba(100, 100, 100, 150);
}

QHeaderView::section:last {
    border-right: none;
}

QListWidget
{
    border: 1px solid white;
    border-radius: 6px;
    background-color: #2d2d2d;
    color: white;
}

QTabWidget::pane
{
    background-color: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 0px;
}

QTabBar
{
    background-color: transparent;
}

QTabWidget::tab-bar
{
    alignment: left;
    left: 10px;
    background-color: transparent;
    border-radius: 0px
}

QTabBar::tab
{
    font: bold;
    background-color: rgba(75, 75, 75, 200);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-height: 25px;
    min-width: 70px;
    padding-left: 4px;
    padding-right: 4px;
}

QTabBar::tab:hover
{
    background-color: rgba(100, 100, 100, 150);
}

QTabBar::tab:selected
{
    background-color: rgba(30, 30, 30, 150);
}

QTabBar::tab:!selected
{
    margin-top: 6px;  
}

QCheckBox
{
    background-color: #434343;
    color: white;
}

QStatusBar
{
    color:white;
}

QToolTip { 
   background-color: #2d2d2d; 
   color: white; 
   border-radius: 5px;
}

QTextEdit{
    background-color: rgba(30, 30, 30, 150);
}

QProgressBar
{
    text-align: center;
    font: bold;
    border: 2px solid #434343;
    border-radius: 5px;
    padding: 2px;
}

QScrollArea
{
    background-color: transparent;
    border-color: transparent;
}

QTextEdit::slotTextChanged()
{       
    int height =  textEdit->heightForWidth(textEdit->width());
    textEdit->resize(textEdit->width(), height);
}
